# PyCharm & VS Code
.idea
.vscode

# Pixi
.pixi/

# Python
*.egg-info
*.pyc

# Build artifacts
build
dist
conda-dist

# Notebooks
*.ipynb
.ipynb_checkpoints
!tests/test_notebook.ipynb

# Jupyter Book
_build

# Quarto
.jupyter_cache
docs/quarto/*.html
docs/quarto/*_files/

# Node packages
node_modules

# DataTables bundle
dt_bundle.js
dt_bundle.css

# Dash component
python/pydatatables/src/pydatatables_for_dash/*.js*
python/pydatatables/src/pydatatables_for_dash/_imports_.py
python/pyaggrid/src/pyaggrid_for_dash/*.js*
python/pyaggrid/src/pyaggrid_for_dash/_imports_.py
python/pyaggrid/src/pyaggrid_for_dash/metadata.json
python/pyaggrid/src/pyaggrid_for_dash/package-info.json
python/pyaggrid/src/pyaggrid/pyaggrid_for_streamlit
python/pyaggrid/src/pyaggrid/widget/static

# Streamlit component
python/pydatatables/src/pydatatables/pydatatables_for_streamlit

# Jupyter Widget
python/pydatatables/src/pydatatables/widget/static

# On-going research
research
