# PyCharm & VS Code
.idea
.vscode

# Python
*.egg-info
*.pyc
build
dist

# Notebooks
*.ipynb
.ipynb_checkpoints
!tests/test_notebook.ipynb

# Jupyter Book
_build

# Quarto
.jupyter_cache
docs/quarto/*.html
docs/quarto/*_files/

# Node packages
node_modules

# DataTables bundle
dt_bundle.js
dt_bundle.css

# Dash component
src/itables_for_dash/*.js*
src/itables_for_dash/_imports_.py

# Streamlit component
src/itables/itables_for_streamlit

# Jupyter Widget
src/itables/widget/static

# On-going research
research
