# PyCharm & VS Code
.idea
.vscode

# Python
*.egg-info
*.pyc
build
dist

# Notebooks
*.ipynb
.ipynb_checkpoints
!tests/test_notebook.ipynb

# Jupyter Book
_build

# External dependencies
itables/external

# Quarto
.jupyter_cache
docs/quarto/*.html
docs/quarto/*_files/
