name: itables
channels:
  - defaults
  - conda-forge
dependencies:
  - nodejs
  - python
  - jupyter
  - jupyterlab>=4
  - jupyter-book
  - jupytext
  - nbconvert
  - ipykernel
  - pandas
  - matplotlib
  - polars
  - pyarrow
  - pytest
  - pytest-xdist
  - pytest-cov
  - pre-commit
  - pip
  - setuptools
  - twine
  - ghp-import
  - shiny
  - shinywidgets
  - streamlit
  - anywidget
  - pip:
    - world_bank_data
