  # Only run this when the main branch changes
on:
  push:
    branches:
    - main
    # If your git repository has the Jupyter Book within some-subfolder next to
    # unrelated files, you can make this run only if a file within that specific
    # folder has been modified.
    #
    # paths:
    # - docs/**

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        pip install jupyter-book
        pip install matplotlib  # Pandas style
        pip install .[polars]

    - name: Create a kernel
      run: |
        pip install ipykernel
        python -m ipykernel install --name itables --user

    - name: Install Quarto
      uses: quarto-dev/quarto-actions/setup@v2

    - name: Render the quarto examples
      run: |
        for qmd_file in `ls docs/quarto/*.qmd`; do quarto render ${qmd_file}; done

    # Build the book
    - name: Build the book
      run: |
        jupyter-book build docs

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html
